<div class="container-upperbox">
    <nav class="second-nav-bar">
      <ul class="second-nav-ul">
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Home", welcome_index_path() %></span></li>
        <!-- <li class="nav-item"><span class="nav-link-text"><%= link_to "Destinations", new_city_path %></span></li> -->
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Articles", articles_path() %></span></li>
        <!-- <li class="nav-item"><span class="nav-link-text">Budget Calculator</span></li> -->
      </ul>
    </nav>
  <!-- Insert a picture in the background -->
</div>

<article class="main-article">
<h4>Featured Article</h4>
<h2>22 things we wish we'd known before moving to San Francisco</h2>
<p class="article">Moving to a new city is exciting — new things to see, do, and eat — but it also comes with an exhausting array of new details to figure out, from what's worth seeing to how to dress.

And San Francisco is no exception. Anyone planning to move here should be ready for hills, chilly nights, and an amazing local culture. From navigating the city's less than perfect transportation system to finding the best extra-large burritos, there's plenty to experience.

For anyone ready to move west, we've surveyed our editors and friends about what they wish they'd known before moving to San Francisco, and gleaned the best insider tips.

Here's what they wish they'd known:

<p class="article">"San Francisco's public transit systems, MUNI and BART, are better than most US cities, but much worse than New York's, and they don't connect to each other.
"In general, don't believe the bus or train schedules. They're more suggestions than set times." —Matt Rosoff

"Craigslist is a completely legitimate way to find housing.
"In a lot of other cities it can be sketchy — in SF it's definitely not. You still need to be aware of scams, but if you're looking to pay less than $3,000-plus per month for a place to live, hit up Craigslist.

"The best way to keep yourself from getting scammed is to simply insist on seeing the place in-person before signing anything or sending any personal information." —Cameron Merriman


"The burritos here are unlike anywhere else. If you think Mexican food is Chipotle, you're in for a new world." —Biz Carson

"Fog is a mainstay; I can't think of a morning that I woke up without there being fog.
"It even has a name — Karl — and an Instagram." —Corey Brand


</p>
</p>
</article>
