<article class="main-article">
<h4>Featured Article</h4>
<h2>Article Title</h2>
<p>Fashion axe mlkshk neutra next level green juice kinfolk PBR&B thundercats. Hot chicken freegan letterpress man braid lo-fi helvetica squid chartreuse. Live-edge farm-to-table master cleanse narwhal banh mi lo-fi affogato.</p>
</article>
