<div class="container-upperbox">
    <nav class="second-nav-bar">
      <ul class="second-nav-ul">
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Home", welcome_index_path() %></span></li>
        <!-- <li class="nav-item"><span class="nav-link-text"><%= link_to "Destinations", new_city_path %></span></li> -->
        <li class="nav-item"><span class="nav-link-text"><%= link_to "Articles", articles_path() %></span></li>
        <!-- <li class="nav-item"><span class="nav-link-text">Budget Calculator</span></li> -->
      </ul>
    </nav>
  <!-- Insert a picture in the background -->
</div>

<article class="main-article">
<h4>Featured Article</h4>
<h2>What's it like to live in San Francisco, CA?</h2>
<p class="article">A beautiful region filled with iconic landmarks, independently owned businesses and trendsetting residents, San Francisco has long followed the beat of its own drum. Morphed and molded by its communities, the California metro area has been the heart of the bohemian lifestyle, the epicenter of the LGBT rights movement and the launching point of the technology era. Today, San Francisco is a complete universe in and of itself: Each neighborhood exudes its own personality, from the historic streets of the Mission District to the grassy hills of the Presidio to the bustling piers along the Embarcadero.
</p>
<p class="article">
  The metro area's multifaceted personality draws a variety of people, from innovative entrepreneurs to students to retirees. But a housing crunch has made it difficult for the San Francisco metro area to accommodate its population, driving housing prices and rental rates sky high and significantly increasing the cost of living. Metro area communities like Oakland and Brisbane have absorbed some of the overflow, but the constant influx of new technology workers has kept the pressure on the real estate market.

  San Franciscans are bound by a strong sense of pride in their region; despite the sky-high prices, many residents will tell you that they can't imagine living anywhere else.
</p>
</article>
