
      <div class="search">
        <!-- <input type="text" class="search-box" placeholder="Search by ZIP Code" /><button class="search-btn">Go</button> -->
        <li class="nav-item"><%= link_to 'Sign up', new_user_path %></li>
      </div>





<section class="main-content">
  <div class="content-header">
    <p class="slogan"> Enjoy moving to a new city!</p>
    <p class="slogan1">Know before you go</p>
  </div>
  <article class="main-article">
    <h4>Featured Article</h4>
    <h2>What's it like to live in San Francisco, CA?</h2>
    <p>Moving to a new city is exciting — new things to see, do, and eat — but it also comes with an exhausting array of new details to figure out, from what's worth seeing to how to dress.</p>
    <button class="more-btn"><%= link_to "Read More", articles_path() %></button>
  </article>
</section>
