<section class="main-content">
  <div class="content-header">
    <p class="slogan"> Enjoy moving to a new city!</p>
    <p class="slogan1">Know before you go</p>
  </div>
  <article class="main-article">
    <h4>Featured Article</h4>
    <h2>Article Title</h2>
    <p>Fashion axe mlkshk neutra next level green juice kinfolk PBR&B thundercats. Hot chicken freegan letterpress man braid lo-fi helvetica squid chartreuse. Live-edge farm-to-table master cleanse narwhal banh mi lo-fi affogato.</p>
    <button class="more-btn"><%= link_to "Read More", articles_path() %></button>
  </article>
</section>
